.container{
    /* background-color: brown; */
    display:flex;
    width:100%;
    flex-flow: row;

    /* I don't understand flex, but I think it's like you can 
    change the size and move it around? */
    
}

.box{
    width: 100px;
    height: 300px;
    margin: 10px;
background-color: rgb(143, 235, 235);    
text-align: center;
border-radius: 15px;
padding: 25px;
text-align: center;
box-shadow: 5px 5px 5px rgb(163, 121, 14);
font-size: 18pt;
color:rgb(169, 62, 92);

}

.bigboy{
    background-color:rgb(245, 200, 85);
    border-radius: 15px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(169, 62, 92);
}

.bigboy2{
    background-color:rgb(245, 200, 85);
    border-radius: 15px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(169, 62, 92);
}